@charset "UTF-8";
/*
Maximus Williams
11/08/2023
*/

body section {
    background-color: #FFFFF7;
    width: 95%;
    border:1px solid black;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 11px;
}
header h1{
    background-color: rgba(0,0,0,.6);
    color: rgb(255,255,255);
    height:200px;
    text-align: center;
    line-height: 200px;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    margin:0;
    padding:0;
}
h2 {
	font-size:1.25em;
}
ul{
    margin:0;
    padding:0;
}
aside img{
    width: 250px;
    height: 250px;
    object-fit: contain;
    object-position: left;
}
footer {
    height:50px;
    padding-top: 5px;
    background-color: rgba(0,0,0,.6);
}

